// variables
$color-title-verde: #48887A;
$color-verde-opaco:#48887aad;
$color-title-gris: #7E7E7E;
$color-blanco: #F1F1F1;
$font-title-1: palanquin dark;
$font-title-2: courgette;
$font-text: kalam;

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Hurricane&family=Kalam&family=Palanquin+Dark:wght@500&family=Ramabhadra&family=Shadows+Into+Light&display=swap');
*{
    padding: 0;
    margin: 0;
}


@keyframes colorMenu{
    from{background-color:$color-blanco; opacity: 0.2;}
    to{background-color:$color-verde-opaco; opacity: 1;}
}
.menu{
    background: linear-gradient($color-verde-opaco 0%,$color-blanco 90% );
    @media only screen and (min-width: 786px){
        a:hover{
            border-radius: 5px;
            animation-name: colorMenu;
            animation-duration: 1.5s;
            background-color: $color-verde-opaco;
        }
    } 
}
main{
    background: url(../img/logoBG2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: $color-blanco;
}
.carousel img{
    height: 200px;
}
$estilos:(
    colores:$color-title-verde,
    centro: center,
);
h1{
    font-size: 50px;
    font-family:$font-title-1;
    text-align: map-get($estilos, centro);
    color: map-get($estilos, colores);
    padding: 10px 0 10px 0;
    span{
        font-family: $font-title-2;
        font-style: italic;
        color: $color-title-gris;
    }
}
.logoWhat{
    height: 70px;
    position: fixed;
    right: 1%;
    bottom: 10%;
}
footer{
    background: linear-gradient($color-blanco 0%, $color-title-verde 90% );
    img{
        height: 25px !important;
    }
}

h2{
    font-size: 30px;
    font-family:$font-title-1;
    text-align: center;
    color: $color-title-verde;
    padding: 10px 0 10px 0;
    span{
        font-family: $font-title-2;
        color: $color-title-gris;
    }
}
@mixin estilo-logo{
    height: 60px;
    padding: 3px;
}
.logo{
    @include estilo-logo;
    animation-name: entrada;
    animation-duration: 5s;
    animation-iteration-count: 1;
}


@keyframes entrada{
    0%{opacity: 0; }
    100%{opacity: 1;}
}
.card{
    font-family: $font-text;
    font-weight: 600;
    transition: transform 0.9s ease;
    &:hover{
        transform: scale(1.1);
    }
}

.boton{
    font-weight: 500;
    font-size: large;
    letter-spacing: 1px;
}
.boton--enviar{
    @extend .boton;
    font-family: $font-title-1;
}
.boton--borrar{
    @extend .boton;
    font-family: $font-title-2;
}


