* {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes colorMenu {
  from {
    background-color: #F1F1F1;
    opacity: 0.2;
  }
  to {
    background-color: #48887aad;
    opacity: 1;
  }
}

@keyframes colorMenu {
  from {
    background-color: #F1F1F1;
    opacity: 0.2;
  }
  to {
    background-color: #48887aad;
    opacity: 1;
  }
}

.menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#48887aad), color-stop(90%, #F1F1F1));
  background: linear-gradient(#48887aad 0%, #F1F1F1 90%);
}

@media only screen and (min-width: 786px) {
  .menu a:hover {
    border-radius: 5px;
    -webkit-animation-name: colorMenu;
            animation-name: colorMenu;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    background-color: #48887aad;
  }
}

main {
  background: url(../img/logoBG2.svg) center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #F1F1F1;
}

.carousel img {
  height: 200px;
}

h1 {
  font-size: 50px;
  font-family: palanquin dark;
  text-align: center;
  color: #48887A;
  padding: 10px 0 10px 0;
}

h1 span {
  font-family: courgette;
  font-style: italic;
  color: #7E7E7E;
}

p {
  font-family: kalam;
  letter-spacing: 3.5px;
  font-weight: 600;
}

p a {
  color: #48887A;
  text-decoration: none;
}

.texto {
  background-color: #F1F1F180;
}

.logoWhat {
  height: 70px;
  position: fixed;
  right: 1%;
  bottom: 10%;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), color-stop(90%, #48887A));
  background: linear-gradient(#F1F1F1 0%, #48887A 90%);
}

footer img {
  height: 25px !important;
}

h2 {
  font-size: 30px;
  font-family: palanquin dark;
  text-align: center;
  color: #48887A;
  padding: 10px 0 10px 0;
}

h2 span {
  font-family: courgette;
  color: #7E7E7E;
}

.logo {
  height: 60px;
  padding: 3px;
  -webkit-animation-name: entrada;
          animation-name: entrada;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.entradaMain {
  -webkit-animation-name: entrada;
          animation-name: entrada;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.entradaBar {
  -webkit-animation-name: entrada;
          animation-name: entrada;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes entrada {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes entrada {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  font-family: kalam;
  letter-spacing: 3.5px;
  font-weight: 600;
  -webkit-transition: -webkit-transform 0.9s ease;
  transition: -webkit-transform 0.9s ease;
  transition: transform 0.9s ease;
  transition: transform 0.9s ease, -webkit-transform 0.9s ease;
  background-color: #F1F1F180;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.boton, .boton--enviar, .boton--borrar {
  font-weight: 500;
  font-size: large;
  letter-spacing: 1px;
}

.boton--enviar {
  font-family: palanquin dark;
}

.boton--borrar {
  font-family: courgette;
}
/*# sourceMappingURL=estilos.css.map */