// variables
$color-title-verde: #48887A;
$color-title-gris: #7E7E7E;
$font-title-1: Verdana, Geneva, Tahoma, sans-serif;
$font-title-2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

*{
    padding: 0;
    margin: 0;
}
.menu{
    background: linear-gradient($color-title-verde 0%,#F1F1F1 90% );
}
main{
    background-color: #F1F1F1;
}
.carousel img{
    height: 200px;
}
$estilos:(
    colores:$color-title-verde,
    centro: center,
);
h1{
    font-size: 50px;
    font-family:$font-title-1;
    text-align: map-get($estilos, centro);
    color: map-get($estilos, colores);
    padding: 10px 0 10px 0;
    span{
        font-family: $font-title-2;
        font-style: italic;
        color: $color-title-gris;
    }
}
.logoWhat{
    height: 70px;
    position: fixed;
    right: 1%;
    bottom: 30%;
}
footer{
    background: linear-gradient(#F1F1F1 0%, $color-title-verde 90% );
    img{
        height: 25px !important;
    }
}

h2{
    font-size: 30px;
    font-family:$font-title-1;
    text-align: center;
    color: $color-title-verde;
    padding: 10px 0 10px 0;
}
@mixin estilo-logo{
    height: 50px;
    padding: 5px;
}
.logo{
    @include estilo-logo;
    animation-name: entrada;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes entrada{
    0%{opacity: 0; margin-left: 100%;}
    100%{opacity: 1; margin-left: 0%;}
}
.card{
    transition: transform 0.9s ease;
    &:hover{
        transform: scale(1.1);
    }
}

.boton{
    font-weight: 500;
    font-size: large;
    letter-spacing: 1px;
}
.boton--enviar{
    @extend .boton;
    font-family: $font-title-1;
}
.boton--borrar{
    @extend .boton;
    font-family: $font-title-2;
}


